:root {
    --color-main: #03af98;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ebebeb;
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

.container{
    width: 400px;
    margin: auto;
    background: #ffffff;
    min-height: 600px;
    position: relative;
}

.title{
    text-align: center;
    background-color: var(--color-main);
    color: #ffffff;
    text-transform: uppercase;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
}

.input{
    display: flex;
    margin: 1rem 0 2rem 0;
    border-top: 1px solid var(--color-main);
    border-bottom: 1px solid var(--color-main);
}

.textInput{
    height: 36px;
    flex: 1;
    font-size: 19px;
    padding: 1rem;
    outline: none;
    border: none;
    height: 100%;
    color: #6e6e6e;
    line-height: 36px;
}

.add{
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    font-size:24px;
    font-weight: 500;
    color: var(--color-main);
    text-transform: uppercase;
    height: 100%;
    outline: none;
    background-color: inherit;
}

.add:hover{
    background-color: #f1f1f1;
}

/* List */

.list{
    list-style: none;
    padding: 1rem;
}

.listItem{
    border: 1px solid var(--color-main);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
}

.listItem label{
    flex: 10;
    padding-left: 0.7rem;
}

.fa-trash-alt{
    text-align: right;
    cursor: pointer;
    color: var(--color-main);
}

.clear{
    /* padding: 0.8rem 2rem; */
    border: none;
    cursor: pointer;
    font-size:22px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    height: 100%;
    background-color: var(--color-main);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
